<?xml version="1.0" encoding="utf-8"?>
<config>

        <sql_admin_name value = "sa" />
        <sql_admin_password value = "change_me" />
        <sql_server_name value = "MSSQLSERVER" />
        <sql_use_windows_auth value = "True" />

        <setup_dir value ="C:\wbt_setup" />

        <phpInstallerName value ="php-installer.msi"/>
        <tc_installer_zip value = "tc9-installer.zip" />

        <ask_permission value = "false" />
</config>
