<?xml version="1.0" encoding="utf-8"?>
<config>

        <sql_admin_name value = "sa" />
        <sql_admin_password value = "Vbadpass1" />
        <sql_server_name value = "MSSQLSERVER" />
        <sql_use_windows_auth value = "True" />

        <setup_dir value ="C:\wbt_setup" />

        <phpInstallerName value ="php-installer.msi"/>
        <tc_installer_zip value = "tc9-distribution.zip" />

        <ask_permission value = "false" />

        <enable_clr value = "false" />
        <setup_db value = "false" />

        <tc_user value = "tcuser" />
        <tc_pass value = "Jjasj6435kk" />
        <tc_db_path value = "C:\tc_data" />
        <tc_db_server value = "localhost" />
        <tc_server_path value = "C:\TopClass9" />
        <tc_media_dir_location value = "C:\inetpub\wwwroot\topclass" />
        <iis_user value = "IUSR" />
        <iis_maxContentLength value = "200000000" />
        <iis_topclass_root value = "C:\inetpub\wwwroot\topclass" />
</config>
